<!DOCTYPE html>
{{!-- {{
Handlebars.registerHelper("inc", function (value, options) {
return parseInt(value) + 1;
}}); --}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estiguessr Leaderboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="leaderboard.css">
</head>

<body>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">
                <center>Estiguessr Leaderboard</center>
            </h1>
            <hr class="my-4">

            <!-- Leaderboards -->
            <div class="row">
                <!-- All Time Leaderboard on the left -->
                <div class="col-md-6 order-md-1 order-2">
                    <h2>All Time Top 25</h2>
                    <ol>
                        {{#each allTimeEntries}}
                        <li>{{inc @index}}. {{this.name}} - Score: {{this.score}}</li>
                        {{/each}}
                    </ol>
                </div>

                <!-- Last 24 Hours Leaderboard on the right -->
                <div class="col-md-6 order-md-2 order-1">
                    <h2>Last 24 Hours</h2>
                    <ol>
                        {{#each last24HoursEntries}}
                        <li>{{inc @index}}. {{this.name}} - Score: {{this.score}}</li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>
{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estiguessr Leaderboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha384-px6YPIQmMzVb3v2nHtQFiK7LsNPwQ5z5/DfX6e0ztktsF3S+hCQe3U1CK2KC2b3U" crossorigin="anonymous">
    <link rel="stylesheet" href="leaderboard.css">
</head>

<body>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">
                <center>Estiguessr Leaderboard</center>
            </h1>
            <hr class="my-4">

            <!-- Leaderboards -->
            <div class="row">
                <!-- All Time Leaderboard on the left -->
                <div class="col-md-6 order-md-1 order-2">
                    <h2>All Time Leaderboard (Top 25)</h2>
                    <ol>
                        {{#each allTimeEntries}}
                        <li>{{this.name}} - Score: {{this.score}}</li>
                        {{/each}}
                    </ol>
                </div>

                <!-- Last 24 Hours Leaderboard on the right -->
                <div class="col-md-6 order-md-2 order-1">
                    <h2>Last 24 Hours Leaderboard (Top 10)</h2>
                    <ol>
                        {{#each last24HoursEntries}}
                        <li>{{this.name}} - Score: {{this.score}}</li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html> --}}