<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="play.css">
    {{!--
    <link rel="stylesheet" href="style.css"> --}}
</head>

<body>

    <div class="top-section">
        {{!-- <center>
            <h3>Here are images of a property recently sold in the United States with the address and year given below.
                You will be given three chances to guess the price of the property.
                Your score will be based on your strength of guess.
            </h3>
        </center> --}}
        <center>
            <p>
                Address: {{address.streetAddress}}. {{address.city}}, {{address.state}}<br>
                Year Built: {{yearBuilt}}
            </p>
        </center>

        <center class="estimate">
            <form action="/check-guess" method="POST">
                <input type="hidden" name="targetNumber" value="{{targetNumber}}">
                <p>Enter your Estimate Below!</p>
                {{#unless showPlayAgain}}
                <input type="number" name="userInput" />
                <input type="submit" value="Submit">
                {{/unless}}
            </form>
        </center>
        <center>
            <p>{{message}}</p>
        </center>

        <center>
            <p>{{ stuff }}</p>
        </center>

        <center>
            <!-- Conditionally show the "Play Again" button -->
            {{#if showPlayAgain}}
            {{!-- <form action="/?reset=true" method="GET"> --}}
                <a class="btn btn-success" href="play" role="button">Play</a><br>
                <a class="btn btn-success btn-sm" href="leaderboard" role="button">Leaderboard</a>
            </form>
            {{/if}}
        </center>
    </div>

    <div class="middle-section">
        <center>
            {{#if photos}}
            {{#each photos}}
            <img src="{{this.mixedSources.jpeg.[0].url}}" alt="Photo"><br>
            {{/each}}
            {{else}}
            <p>No photos available.</p>
            {{/if}}
        </center>
    </div>


    <script>
        function redirectToHome(event) {
            //redirect to home page when button is clicked    
            event.preventDefault
            window.location.href = "/play";
        }
    </script>
</body>